@page "/Usuarios/Index"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container my-4 viewport-100">
    <h2 class="mt-4 mb-2 text-center font-weight-bold">Usuários Cadastrados</h2>
    @foreach (var usuario in ListaUsuarios)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Celular</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListaUsuarios)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Celular</td>
                        <td>
                            <a href="#">
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger"
                            @onclick="@(() => DeleteCarrinho(usuario))">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    public List<Usuario> ListaUsuarios = new List<Usuario>();
    protected override async Task OnInitializedAsync()
    {
        var usuarios = await Http.GetFromJsonAsync<List<Usuario>>("/Usuario/List");
        foreach (var item in usuarios)
        {
            ListaUsuarios.Add(item);
        }
    }
    private async Task DeleteCarrinho(Usuario usuario)
    {
        await Http.DeleteAsync("/Usuario/Delete/" + usuario.Id);
        ListaUsuarios.Remove(usuario);
    }

}